@model OCOP.ViewModel.Catalog.HoiDongs.HoiDongThanhVienAssignRequest
@using OCOP.Utility
@{
    ViewData["Title"] = "AddThanhVien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hoiDong = (OCOP.ViewModel.Catalog.HoiDongs.HoiDongViewModel)ViewBag.HoiDong;
}


<div class="pd-20 card-box mb-30">
    <div class="clearfix">
        <div class="pull-left">
            <h3 class="text-blue h3">Thêm thành viên cho hội đồng</h3><br />
        </div>
    </div>
    <b style="font-size:18px;">Tên hội đồng: </b> @hoiDong.TenHoiDong<br/>
    <b style="font-size:18px;">Tên hồ sơ: </b> @hoiDong.TenHoSo<br />
    <b style="font-size:18px;">Ngày tạo: </b> @hoiDong.NgayTao.ToShortDateString()<br />
    <b style="font-size:18px;">Ngày hoàn thành dự kiến: </b> @hoiDong.NgayKetThuc.ToShortDateString()<br />
    <b style="font-size:18px;">Cấp bậc: </b> @hoiDong.CapBac<br />
    <b style="font-size:18px;">Trang thái: </b>
    @if (hoiDong.TrangThai == SystemConstants.HoiDong_DangHoanThien)
    {
        <span>Đang hoàn thiện</span>
    }else if (hoiDong.TrangThai == SystemConstants.HoiDong_DangDanhGia)
    {
        <span>Đang đánh giá</span>
    }
    else
    {
        <span>Hoàn thành</span>
    }
    <br /><br />
    <h4>Thêm thành viên</h4><br />
    <div class="pb-20">
        <form asp-action="AddThanhVien" asp-controller="HoiDong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HoiDongId" />
            @for (var i = 0; i < Model.ThanhViens.Count; i++)
            {
                <div class="form-group row" style="margin-left: 10px;">
                    <input asp-for="ThanhViens[i].Selected" type="checkbox" style="margin-right: 10px;">
                        @Model.ThanhViens[i].Name
                        <input type="hidden" asp-for="ThanhViens[i].Id" />
                </div>

            }
            <button class="btn btn-dark" type="submit" style="margin-bottom: 50px;">Lưu lại</button>
            <a class="btn btn-dark" href="@Url.Action("Index", "HoiDong")" role="button" style="margin-bottom: 50px;">Trở về</a>
        </form>
    </div>

</div>








